@font-face{
    font-family: "Montserrat";
    src: url('font/Montserrat.eot');
    src: url('font/Montserrat.eot?iefix') format('eot'),
    url('font/Montserrat.woff') format('woff'),
    url('font/Montserrat.ttf') format('truetype'),
    url('font/Montserratt.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.flex-container{
    margin-left:  auto;
    margin-right: auto;  
    display: block;
    max-width: 1024px;
    min-width: 200px;
    font-family: "Montserrat";
}

 .nav {
    display:flex;
    background-color: #373c3f;
    height:95px;
    font-size: 14px;
}

.nav .navhead650px{ display: none;}
.nav .menu-icon   { display: none;}

.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    list-style: none;
}
    
.nav_menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #ffffff;
    line-height: 90px;
    margin-left: 30px;
}
    
.nav_menu li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
}

.main-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 560px;
    background: linear-gradient(to bottom right,
                rgb(25,180,198), rgb(7,138,164));
    padding-left:  40px;
    padding-right: 40px;
}
.main-block .main-text{
    font-size: 65px;
    color: rgb(255,255,255);
}
.main-block .refs{
    display: flex;
    margin-top: 2vw;
}

.main-block .refs .site-ref{
    width: 760px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color:rgba(255,255,255,0.6);
}
.main-block .refs .arrow{
    font-weight: bold;
    font-size: 60px;
    color: rgb(255,255,255);
}

.two-blocks-ref{
    display: flex;
    height: 200px;
}
.two-blocks-ref .first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: rgb(39,33,44);
}
.two-blocks-ref .first .text{
    display: flex;
    color: rgb(145,129,159);
    font-size: 25px;
}

.two-blocks-ref .second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    background-color: rgb(188,49,131);
}

.two-blocks-ref .second p{
    font-size: 50px;
    color: rgb(255,255,255);
}


.imgs-block {
    display: flex;
    height: 27vw;
    max-height: 290px;
}

.imgs-block .block-ref{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: rgb( 91, 15, 161);
    color: rgb(255,255,255);
    width: 33vw;
}

.img1{
    width: 33vw;
    background-image: url('../images/bridge.png');
    background-size: 100%;  
}

.img2{
    width: 33vw;
    background-image: url('../images/girl.png');
    background-size: 100%;
}

.footer{
    background-color: rgb(235,235,235);
    color: rgb( 81, 81, 81 );
    padding-right:30px;
    padding-bottom: 30px;
    font-size:   14px;
    line-height: 1.63;
}

.footer .head-ref{
    padding-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    margin-right: 70px;
    font-size:   30px;
    color: rgb(8,140,165);
}
.footer .text{
    display: flex;
}
.footer .text1{
    margin-left: 70px;
    width: 400px;
}
.footer .text2{
    margin-left: 70px;
    width: 400px;
}

@media only screen and (max-width: 835px), only screen and (max-device-width: 835px){
    .main-block{
        height: 60vw;
    }
    .main-block .main-text{
        font-size: 6vw;
    }
    .main-block .refs .site-ref{
        font-size: 4vw;
    }
    .main-block .refs .arrow{
        font-weight: bold;
        font-size: 7vw;
    }

    .two-blocks-ref{
        height: 20vw;
    }
    .two-blocks-ref .first .text{
        font-size: 3vw;
    }

    .two-blocks-ref .second p{ font-size: 6vw }

    .imgs-block .block-ref   { font-size: 6vw }

}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    .nav{
        height: 14vw;
    }
    .nav_menu{
        display:none;
    }
    .nav .navhead650px{
        align-items: center;
        display: flex;
        width: 650px;
        font-size: 4vw;
        color: #fff;
        padding-left: 35px;
    }

    .nav .menu-icon{
        width: 100%;
        max-width: 14vw;
        background-image: url('../images/button-menu.png');
        background-size: 100%; 
        display: flex;
    }

    .footer .text2{ display: none}

    .footer{ font-size: 3vw; }  
    .footer .head-ref { 
        font-size: 4vw;
        margin-left: 8vw;
    }
    .footer .text{
        word-wrap: normal;
    }
    .footer .text1{
        margin-left: 8vw;
        width: 80vw;
    }
}


